@model IEnumerable<InfoedukaMVC.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<div class="card">
        <div class="card-header">
            <h3>Classes</h3>
                <a asp-action="Create" class="btn btn-primary" role="button">Create New</a>
        </div>
            <div class="card-body">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <div class="dropdown">
                     <a class="btn btn-secondary dropdown-toggle" 
                     href="#" role="button" data-bs-toggle="dropdown" a
                     ria-expanded="false">...</a>
                    
                     <ul class="dropdown-menu">
                         <li><a asp-action="Edit" asp-route-id="@item.ClassId" 
                             class="dropdown-item">Edit</a></li>
                         <li><a asp-action="Delete" asp-route-id="@item.ClassId" 
                             class="dropdown-item">Delete</a></li>
                     </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
</div>